<mat-card>
  <mat-card-content>
  <div>
    <mat-form-field appearance="fill" >
      <mat-label>Country</mat-label>
      <input matInput type="text" placeholder="Country" [formControl]="search" required>
    </mat-form-field>
  </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content *ngIf="list$ | async as list">
<mat-list role="list" *ngIf="list.length > 0; else emptyState">
  <mat-list-item role="listitem" *ngFor="let item of list$ | async">
    {{item.name}}
  </mat-list-item>
</mat-list>

<ng-template #emptyState>
  Did not find any universities for this country :(
</ng-template>

  </mat-card-content>
</mat-card>
